    @import './_variables';
    @import './_mixins';
    footer {
        @include abs-pos(auto, auto, 0, 0);
        width: 100%;
    }

    header,
    footer {
        // background-color: $headerColor;
        @include linear-gradient($headerFooterStartColor, $headerFooterEndColor)
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 80px;
        font-size: $headerFont;
        width: 100%;
        display: table;
        @include box-sizing(border-box);
        h2 {
            height: 40px;
            margin: 0px;
            padding: 0px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            width: 100%;
        }
    }

footer div a, footer div button {
    @include buttonClass(20px, 10px, inline-block);
}

footer div {
    @include center-block();
}
