// font
$baseFont: 0.625em;
$headerFont: 1.2rem;
$largeFont: 2.5rem;
$buttonFont: 1rem;
$fontFamily: Helvetica Neue,
Helvetica,
Arial;

//colors
$fontBaseColor: #fff;
$headerColor: #41331F;
$footerColor: #41331F;
$headerFooterStartColor: #5C432A;
$headerFooterEndColor: #372311;
$bodyColor: #F3EAE4;
$buttonTextColor: #424242;
$buttonStartColor: #FDFDFD;
$buttonEndColor: #C0BDBE;
$buttonTopLeftColor: #D2D1CD;
$buttonBottomRightColor: #989491;
$bodyBorderColor: #000;
$sendMoneyBodyColor: #FAF9F6;
$checkTextColor: #CB9357;
$historyOddElement: #DFD1C0;
$historyEvenElement: #E8D9CB;

