@import url(//fonts.googleapis.com/css?family=Roboto);
@import 'styles/_variables';
@import 'styles/_headerFooer';
@import 'styles/_elements';

body {
    // browsers default to 16px for font-size,
    // so setting top-level font-size to 62.5%
    // scales 1rem to equal 10px.
    font: 62.5% 'Roboto', sans-serif;
}

html {
    background: linear-gradient( 0, $bodyColor, $bodyColor) no-repeat 50% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
