<header>
    <h2>Cisco Url Shortener</h2>
</header>
<main>
    <div class="home">
        <div class="body">
            <div >
                <form name="form">
                    <div class="form-group">
                        <label for="url">Url:</label>
                        <input type="url" class="form-control sendTo" ng-model="$ctrl.formObj.longUrl" required />
                        <!--   <span class="invalidEntry" ng-show="!form.to.$valid && !form.to.$pristine"> &cross; </span>
                        <span class="validEntry" ng-show="!!form.to.$valid && !form.to.$pristine"> &#10004; </span> -->
                    </div>
                </form>
                <div class="formSubmitted">
                    <div class="homeButtons">
                        <button type="submit" class="" ng-disabled="form.$invalid" value="longUrl" ng-click="$ctrl.submitLongUrl($ctrl.formObj.longUrl)">
                            Submit Url for Minification
                        </button>
                    </div>
                    <div  ng-show="$ctrl.showResult">
                        <button ng-show="$ctrl.isValid" type="submit" class="" value="shortUrl" ng-click="$ctrl.validateShortUrl($ctrl.shortHash)">
                            {{$ctrl.shortUrl}}
                        </button>
                        <p  ng-hide="$ctrl.isValid">
                            {{$ctrl.shortUrl}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <h2></h2>
</footer>
